[Desktop Entry]
Type=Application
Name=Welcome to An4rch
Comment=First steps, gaming setup and getting help
Exec=anarch-welcome
Icon=lumen-logo
Terminal=false
Categories=System;
