[Desktop Entry]
Type=Application
Name=Welcome to an4rch
Comment=First steps, gaming setup and getting help
Exec=lumen-welcome
Icon=lumen-logo
Terminal=false
Categories=System;
