[Desktop Entry]
Type=Application
Name=Settings
GenericName=System Settings
Comment=Wi-Fi, Bluetooth, sound, displays, themes and more
Exec=anarch-settings
Icon=anarch-settings
Terminal=false
Categories=Settings;System;
Keywords=settings;preferences;control;panel;wifi;bluetooth;display;
