[Desktop Entry]
Type=Application
Name=System Snapshots
Comment=Undo updates and restore earlier versions of your system
Exec=lumen-snapshot menu
Icon=document-revert
Terminal=false
Categories=System;
Keywords=snapshot;backup;restore;rollback;undo;
