[Desktop Entry]
Type=Application
Name=an4rch Manual
Comment=How to use and customise an4rch OS
Exec=lumen-manual
Icon=help-browser
Terminal=false
Categories=Documentation;
