[Desktop Entry]
Type=Application
Name=Install An4rch OS
Comment=Put An4rch OS on this computer
Exec=anarch-installer
Icon=lumen-logo
Categories=System;
Keywords=install;installer;setup;
