[Desktop Entry]
Type=Application
Name=Install Lumen OS
Comment=Put Lumen OS on this computer
Exec=lumen-installer
Icon=lumen-logo
Categories=System;
Keywords=install;installer;setup;
