[Desktop Entry]
Type=Application
Name=Install an4rch OS
Comment=Put an4rch OS on this computer
Exec=lumen-installer
Icon=lumen-logo
Categories=System;
Keywords=install;installer;setup;
